.doctorsIcon {
	height: 5%;
	width: 5%;
}
.zipCodeField {
	height: 30px;
	width: 45%;
	font-size: 20px;
	margin-left: 5%;
	margin-bottom: 2%;
	border-radius: 8px;
	text-align: center;
	font-style: italic;
}
select {
	height: 30px;
	width: 30%;
	font-size: 20px;
	margin-left: 9%;
	margin-bottom: 2%;
	border-radius: 8px;
	text-align: center;
	font-style: italic;
}
.doctorSubmitButton {
	width: 40%;
	margin-left: 30%;
	margin-bottom: 5%;
	margin-top: 3%;
}
label {
	color: white;
	font-weight: bolder;
	margin-left: 30%;
}
.addressLabel {
	margin-left: 40%;
}
