.bloodSugarIcon {
	height: 5%;
	width: 5%;
}
.form2 {
	border-radius: 8px;
	width: 30%;
	background-color: #399d96c2;
	box-shadow: 5px 5px 5px gray;
	font-family: 'Quicksand', sans-serif;
}
.chartContainer {
	background-color: #44b3ab3f;
	box-shadow: 5px 5px 5px gray;
}
.toggleButton {
	background-color: #e5593a;
	color: white;
	font-weight: bolder;
	box-shadow: 5px 5px 5px gray;
}
.toggleButton:hover {
	background-color: #399d96c2;
}
