.dailyNoteIcon {
	height: 5%;
	width: 5%;
}

.dailyNoteSubmitButton {
	width: 40%;
	margin-left: 30%;
	margin-bottom: 5%;
	margin-top: 3%;
	background-color: #e5593a;
	color: white;
	font-weight: bolder;
	box-shadow: 5px 5px 5px gray;
}
.dailyNoteSubmitButton:hover {
	background-color: #399d96c2;
}

.dailyNoteRecord {
	background-color: #399d96c2;
	border-radius: 20px;
	width: 90%;
	padding-bottom: 2%;
	box-shadow: 5px 5px 5px gray;
	margin: 0 auto;
}
.dailyNoteNameOnRecord {
	text-align: center;
	padding-top: 4%;
}
.dailyNoteNameOnRecord:hover {
	color: rgb(201, 92, 34);
}
.leftMargin {
	margin-left: 3%;
	margin-right: 3%;
	color: rgb(201, 92, 34);
	font-weight: bolder;
	background-color: rgba(255, 255, 255, 0.571);
	padding: 3%;
	width: 90%;
	border-radius: 12px;
	font-family: 'Quicksand', sans-serif;
}
.paddingBottom {
	padding-bottom: 2%;
	margin-bottom: 3%;
}

.dailyNoteLinks {
	margin-left: 3%;
	margin-right: 3%;
	color: rgb(201, 92, 34);
	font-weight: bolder;
	background-color: rgba(255, 255, 255, 0.571);
	width: 50%;
	border-radius: 12px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Quicksand', sans-serif;
}
.dailyNoteLinksContainer {
	/* border: 5px solid#399d96c2; */
	background-color: rgba(255, 255, 255, 0.571);
	/* width: 30%; */
	height: 20%;
	display: block;
	margin-top: 0;
}
.dailyNoteListTitle {
	color: rgb(201, 92, 34);
	background-color: rgba(91, 171, 172, 0.571);
	margin-top: 0;
	padding-top: 1%;
	padding-bottom: 1%;
}
.chevronIcon {
	color: rgb(201, 92, 34);
	margin-left: 1%;
}

#containerForBothDivs {
	display: flex;
	justify-content: center;
	align-content: center;
}

.dailyNoteFormDiv {
	border-radius: 8px;
	width: 30%;
	height: 50%;
	background-color: #399d96c2;
	box-shadow: 5px 5px 5px gray;
	font-family: 'Quicksand', sans-serif;
	margin-right: 10%;
}
.viewAllNotes {
	width: 50%;
	border: 5px solid #399d96c2;
}
